<div class="margen">


    <h1>¡Visitanos en nuestra sucursal de Productos Innovador S.A de C.V!</h1>
    <div class="embed-responsive embed-responsive-16by9 d-flex justify-content-center">
        <iframe class="embed-responsive-item w-100" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3757.498155857992!2d-99.18319122511065!3d19.64874148167742!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d1f58e6e10bba3%3A0xf474730ead0bf173!2sProductos%20Innovador%20S.A%20de%20C.V!5e0!3m2!1ses!2smx!4v1688495050707!5m2!1ses!2smx"
            width="1000" height="600" aling="right" style="border:0; padding: 20px;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>


    <h1>¡Visitanos en nuestra sucursal de Life Products!</h1>
    <div class="embed-responsive embed-responsive-16by9 d-flex justify-content-center">
        <iframe class="embed-responsive-item w-100" src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d5317.176364920444!2d-99.27760070826538!3d19.54970622733563!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1slifeproducts!5e0!3m2!1ses!2smx!4v1687282655291!5m2!1ses!2smx"
            width="1000" height="600" aling="right" style="border:0; padding: 20px;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</div>