<section style="padding-top: 10rem;" class="section-gallery">

  <div style="padding-bottom: 5rem;" class="boton-regresar">
    <a (click)="goBack()" class="btn button-cards">Regresar
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-return-left" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M14.5 1.5a.5.5 0 0 1 .5.5v4.8a2.5 2.5 0 0 1-2.5 2.5H2.707l3.347 3.346a.5.5 0 0 1-.708.708l-4.2-4.2a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 8.3H12.5A1.5 1.5 0 0 0 14 6.8V2a.5.5 0 0 1 .5-.5z" />
      </svg>
    </a>
  </div>
  <div style="padding-top: 5rem;" class="centrar has-animation animation-ltr" data-delay="10">
    <p class="bigger">Limpiadores Especializados</p>
  </div>

  <div style="padding-top: 10rem;" class="ae-masonry ae-masonry-md-2 ae-masonry-xl-4 has-animation animation-rtl" data-delay="1000">
    <a *ngFor="let item of prodsNow.prueba" class="rk-item ae-masonry__item" [routerLink]="['/producto', item.id_producto]">
      <div *ngIf="item.categoria == 'Superficies'">
        <img src="./assets/productos_now/{{item.categoria}}/{{item.nombre_carpeta}}/{{item.imagen_principal}}" alt="">
        <div class="item-meta">
          <h2>{{ item.nombre_producto }}</h2>
          <h3>{{ item.presentacion }}</h3>
          <p>{{ item.categoria }}</p>
        </div>
      </div>
    </a>
  </div>
</section>