/* boton regresar */

.boton-regresar {
  padding-top: 4rem;
  margin-bottom: -5rem;
}


/* Justificar texto */

.textJustify {
  text-align: justify;
}


/* CARDS */

.button-cards {
  background-color: #009fe3;
  /* Green */
  border-radius: 3px;
  border: none;
  color: white;
  padding: 5px 10px;
  margin: 2px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
