.centrado {
    padding-top: 6rem;
    margin-right: .5rem;
    margin-left: .5rem;
    margin-bottom: -5em;
}

@media(max-width: 600px) {
    .bloque {
        display: none !important;
    }
}

@media(min-width: 600px) {
    .bloque-responsive {
        display: none;
    }
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.block {
    width: 10%;
}

.bloque {
    padding-top: 10rem;
    display: flex;
    align-items: center;
}

.text-container div {
    font-family: "Lucida Bright", sans-serif;
    flex: 1;
}

.text-align-container div {
    margin-top: 120px;
    margin-left: 10px;
    margin-right: 180px;
}

.image {
    margin-left: 10px;
    margin-right: 10px;
    width: 100%;
    height: 50% !important;
}

.image-grid {
    width: 1500px;
    height: auto;
}

.image-grid img {
    width: 100%;
    height: auto;
}

.image-container {
    width: 60%;
    flex-direction: column;
    margin-top: 40px;
    margin-left: 150px;
}

.fade-in {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.fade-in.active {
    opacity: 1;
}

img {
    transition: transform 0.2s ease;
}

img:hover {
    transform: scale(1.1);
}

.text-container {
    overflow: hidden;
    position: relative;
}

.animated-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 50px));
    /* Ajusta el valor de "50px" para controlar cuánto texto debe desaparecer */
    transition: clip-path 0.5s ease;
    /* Transición suave para la animación */
}

.text-container:hover .animated-text {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    /* Clip completo del texto al pasar el mouse sobre el contenedor */
}