<nav class="navbar navbar-expand-lg fixed-top" [ngClass]="{'scrolled': isScrolled}" id="mainNav">
  <div class="container-fluid">
    <a style="padding-left: 10%;" class="navbar-brand" href="#"><img routerLink="home" alt="Logo" width="100" height="140" class="d-inline-block align-text-top" src="assets/img/logo-now-blanco.png" alt="{{ InfoPaginaService.info.titulo }}"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent" style="padding-left: 40%;">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
          <a routerLink="inicio" class="nav-link">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Tienda</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Categorias
          </a>
          <ul class="dropdown-menu">
            <li routerLinkActive="active"><a routerLink="Ropa" class="dropdown-item">Cuidado Ropa</a></li>
            <li routerLinkActive="active"><a routerLink="Cocina" class="dropdown-item">Cocina</a></li>
            <li routerLinkActive="active"><a routerLink="Pisos" class="dropdown-item">Limpiadores Pisos</a></li>
            <li routerLinkActive="active"><a routerLink="Baños" class="dropdown-item">Baños</a></li>
            <li routerLinkActive="active"><a routerLink="Vidrios_y_Superficies" class="dropdown-item">Vidrios y Superficies</a></li>
            <li routerLinkActive="active"><a routerLink="Alfombras" class="dropdown-item">Alfombras</a></li>
          </ul>
        </li>

      </ul>
      <div class="container-fluid rk-search">
        <input class="search-input rk-search-field" type="text" (keyup.enter)="buscarProducto(txtBuscar.value)" placeholder="Buscar" id="urku-search" #txtBuscar aria-label="Search">
        <label for="urku-search">
          <svg>
            <use xlink:href=".assets/img/symbols.svg#icon-search"></use>
          </svg>
        </label>
        <!-- <button class="btn btn-bs-light-border-subtle" type="submit">Buscar</button> -->

      </div>
    </div>
  </div>
</nav>