<header>
    <!-- <img src="/Users/acampero/Desktop/Innovador/prueba-funcional-carrito/nueva-rama/lifeproducts/src/assets/img" alt="logo" class="logo" /> -->
    <img src="assets/img/logo-lpblanco.png" alt="logo" class="logo" />
    <nav>
        <div class="menu">
            <input type="checkbox" id="checkbox" />
            <span></span>
            <span></span>
            <span></span>
            <ul>
                <li><a href="#">Item1</a></li>
                <li><a href="#">Item2</a></li>
                <li><a href="#">Item3</a></li>
                <li><a href="#">Item4</a></li>
            </ul>
        </div>
    </nav>
</header>