<main class="container">
    <aside class="settings">
        <a>
            <i class="material-icons">settings</i>
        </a>
        <a>
            <i class="material-icons">power_settings_new</i>
        </a>
        <a>
            <i class="material-icons">chat_bubble</i>
        </a>
    </aside>
    <aside class="lateral">
        <a id="toggler">
            <i class="material-icons">menu</i>
            <span id="hide">←</span>
        </a>
        <a class="brand">
            <figure class="brand-icon">
                <img src="https://image.ibb.co/jKekCk/logo.png" alt="" />
            </figure>
        </a>
        <section class="user-panel">
            <figure class="user-avatar">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1286595/profile/profile-80.jpg?1531963482" alt="" />
            </figure>
            <section class="user-info">
                <span class="user-name">Gustavo Garzaki <span id="arrow">▼</span></span>
                <span class="user-role">Administrador</span>
            </section>
        </section>
        <nav class="navigation">
            <span class="title">Navegación</span>
            <ul class="menu">
                <li>
                    <a href="#" class="active">
                        <i class="material-icons">dashboard</i>
                        <span>Dashboard</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="material-icons">people</i>
                        <span>Users</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="material-icons">contacts</i>
                        <span>Cuentas</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="material-icons">pie_chart</i>
                        <span>Reportes</span>
                    </a>
                </li>
            </ul>
        </nav>

    </aside>

</main>