.button-cards {
    background-color: #705f28;
    /* Green */
    border-radius: 3px;
    border: none;
    color: white;
    padding: 5px 10px;
    margin: 2px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}


/* Carrito  de compras */

.botones_carrito {
    padding: 5px 10px;
    margin: 5px;
    color: #007041;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.boton-cerrar {
    justify-content: right;
    padding: 5px 10px;
    margin: 10px;
    color: #007041;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.boton-flotante {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
    /* background-color: #007bff; */
    color: #007041;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.carrito-contenedor {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    z-index: 999;
}

@media only screen and (max-width: 400px) {
    .carrito-contenedor {
        /* display: flex; */
        width: 100%;
        max-width: none;
        padding: 10px;
    }
}

.carrito-contenedor ul {
    list-style-type: none;
    padding: 0;
}

.carrito-contenedor li {
    margin-bottom: 10px;
}

.carrito-contenedor button {
    padding: 5px 10px;
    color: #007041;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


/* Termina carrito de compras */