<footer style="margin: 10px;" class="ae-container-fluid rk-footer">
    <div class="ae-grid ae-grid--collapse">
        <div class="ae-grid__item item-lg-4 au-xs-ta-center au-lg-ta-left">
            <ul class="rk-menu rk-footer-menu">
                <li routerLinkActive="active" class="rk-menu__item-footer nav-item">
                    <a routerLink="nosotros" class="rk-menu__link nav-link">Nosotros</a>
                </li>
                <li routerLinkActive="active" class="rk-menu__item-footer nav-item">
                    <a routerLink="sucursales" class="rk-menu__link nav-link">Sucursales</a>
                </li>
                <li routerLinkActive="active" class="rk-menu__item-footer nav-item">
                    <a routerLink="contactanos" class="rk-menu__link nav-link">Contactanos</a>
                </li>
            </ul>
            <p class="rk-footer__text rk-footer__copy">
                <span class="ae-u-bold">Copyright © </span>
                <span class="ae-u-bolder">Productos innovador S.A. de C.V. {{ anio }}</span>
            </p>
        </div>
        <div class="prueba ae-grid__item item-lg-4 au-xs-ta-center">
            <!-- Facebook -->
            <a [href]="infoPaginaService.info.facebook" target="_blank" class="rk-social-btn">
                <svg>
                    <use xlink:href="assets/img/symbols.svg#icon-facebook"></use>
                </svg>
            </a>
            <!-- Twitter -->
            <a [href]="infoPaginaService.info.twitter" target="_blank" class="rk-social-btn ">
                <svg>
                    <use xlink:href="assets/img/symbols.svg#icon-twitter"></use>
                </svg>
            </a>
            <!-- Instagram -->
            <a [href]="infoPaginaService.info.instagram" target="_blank" class="rk-social-btn">
                <svg>
                    <use xlink:href="assets/img/symbols.svg#icon-pinterest"></use>
                </svg>
            </a>
        </div>
        <div class="ae-grid__item item-lg-4 au-xs-ta-center au-lg-ta-right">
            <p class="rk-footer__text rk-footer__contact">
                <span class="ae-u-bold">Email: </span>
                <span class="ae-u-bolder">
                    <a href="mailTo:{{ infoPaginaService.info.email }}" class="rk-dark-color">{{ infoPaginaService.info.email }}</a>
                </span>
            </p>
            <p class="rk-footer__text rk-footer__by">Designed By: <a href="http://www.innovador.com.mx/" target="_blank" class="ae-u-bolder" style="color:black;">Productos Innovador</a></p>
        </div>
    </div>
</footer>